$body-color: #ebeef3;
$default-button: #52c41a;
$primary-button: rgb(24, 144, 255);
$danger-button: rgb(245, 34, 45);
$white: #ffffff;
$article-text-color: rgba(0, 0, 0, 0.75);
$article-color-blue: #1890ff;
$title-color: rgba(0, 0, 0, 0.85);
$tags-color: rgba(0, 0, 0, 0.5);
