$body-color: #EBEEF3;
$primary-button: #52C41A;
$white: #FFFFFF;
$article-text-color: rgba(0, 0, 0, 0.75);
$article-color-blue: #1890FF;
$title-color: rgba(0, 0, 0, 0.85);
$tags-color: rgba(0, 0, 0, 0.5);